html {
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 16px;
  }
  
  body {
    padding: 20px;
  }
  
  p {
    margin: 0;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  #results-summary {
    display: inline-block;
    border-radius: 20px;
    width: 800px;
    height: 500px;
    box-shadow: 4px 4px 9px 0px rgba(0,0,0,0.23);
  }
  
  #left-section {
    display: inline-block;
    border-radius: 20px;
    background-image: linear-gradient(#7857ff, #2e2be9);
    width: 50%;
    height: 100%;
    vertical-align: top;
    color: white;
    text-align: center;
  }
  
  #your-result {
    margin-top: 30px;
    opacity: 0.8;
    font-size: 1.3rem;
  }
  
  #score {
    background-image: linear-gradient(#4e21ca, #2421ca);
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-top: 40px;
    position: relative;
  }
  
  #your-score {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    font-weight: 800;
  }
  
  #max-score {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    opacity: 0.5;
  }
  
  #great {
    margin-top: 35px;
    font-size: 32px;
    font-weight: 700;
  }
  
  #description {
    font-size: 16px;
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 80px;
    opacity: 0.7;
  }
  
  #right-section {
    display: inline-block;
    width: 50%;
    height: 100%;
    vertical-align: top;
  }
  
  #summary {
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 25px;
    font-size: 1.3rem;
  }
  
  #results-types {
    margin: 0 auto;
    width: 85%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #reaction, #memory, #verbal, #visual {
    border-radius: 10px;
    height: 20%;
    display: flex;
    align-items: center;
    position: relative;
  }
  
  #reaction {
    background-color: #fff4f4;
  }
  
  #reaction-icon, #memory-icon, #verbal-icon, #visual-icon {
    display: inline-block;
    margin-left: 15px;
    margin-top: 4px;
  }

  #reaction-icon img, #memory-icon img, #verbal-icon img, #visual-icon img {
    width: 100%;
    height: 100%;
  }

  #reaction-title, #memory-title, #verbal-title, #visual-title {
    display: inline-block;
    margin-left: 10px;
    margin-right: 45%;
    font-weight: 700;
    font-size: 1.1rem;
  }
  
  #reaction-title {
    color: #ff5757;
  }
  
  #reaction-result, #memory-result, #verbal-result, #visual-result {
    display: inline-block;
    font-weight: 700;
    right: 65px;
    position: absolute;
  }
  
  #reaction-max, #memory-max, #verbal-max, #visual-max {
    display: inline-block;
    opacity: 0.4;
    font-weight: 700;
    position: absolute;
    right: 20px;
  }
  
  #memory {
    background-color: #fffaf1;
  }
  
  #memory-title {
    color: #ffb01f;
  }
  
  #verbal {
    background-color: #eefaf7;
  }
  
  #verbal-title {
    color: #00bd91;
  }
  
  #visual {
    background-color: #f0f1fc;
  }
  
  #visual-title {
    color: #1125d4;
  }
  
  button {
    padding: 15px;
    margin-left: 30px;
    margin-top: 40px;
    width: 85%;
    background-color: #303b5a;
    color: white;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 16px;
    font-weight: 700;
    border-radius: 40px;
    border: none;
  }

  button:hover {
    cursor: pointer;
    background-color: #7857ff;
    transform: scale(1.02);
  }